[Interface]
Address = {{ wg_server_address }}
ListenPort = 51820
PrivateKey = {{ vault_wg_server_private_key }}

{% for peer in wg_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% endfor %}
